@page "/category/{category}"
@* @attribute [StreamRendering(true)] *@
@using System.Collections.Generic
@using MySuperHeroApp.Web.Model
@using MySuperHeroApp.Web.ServiceClients
@using MySuperHeroApp.Web.Components.Shared
@inject ILogger<Home> Logger;
@inject SuperHeroServiceClient SuperHeroClientService;
@inject NavigationManager NavigationManager;
@rendermode InteractiveServer
<div class="main">
    @if (isLoading)
    {
        <SuperHeroLoader />
    }
    else
    {

        <section class="category">
            <h2>@Category</h2>
            <SuperHeroCardContainer SuperHeroes="@superHeroes" />
        </section>

    }
</div>

@code {

    [Parameter]
    public string Category { get; set; } = string.Empty;

    private List<SuperHero> superHeroes = new();
    private bool isLoading = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Logger.LogInformation("Loading super heroes category from API...");

            var categories = await SuperHeroClientService.GetPublishersAsync() ?? new List<string>();

            superHeroes.AddRange(await SuperHeroClientService.GetSuperHeroesByPublisherAsync(Category));
            isLoading = false;
            StateHasChanged();
            Logger.LogInformation("Loading completed super heroes from API...");
        }
    }


}
